= form_for @stat_group do |f|
  .control-group
    = f.collection_select :stat_period_id, StatPeriod.recent_first.all, :id, :name, {}, :class => "span3"
  %table.table.table-hover.stat_group
    %thead
      %tr
        %th No.
        %th Level
        %th Member
        %th Troops Donated
        %th Troops Received
        %th Trophies
    %tbody
      - @stats.each_with_index do |stat, index|
        - selmem = stat.member
        %tr
          %td= index + 1
          %td= text_field_tag "level[]", stat.level
          %td
            - if selmem
              = hidden_field_tag "member_id[]", selmem.id
              = selmem.name
            - else
              = select_tag "member_id[]", options_from_collection_for_select(@new_members, 'id', 'name'), :include_blank => true
          %td= text_field_tag "donated[]", stat.donated
          %td= text_field_tag "received[]", stat.received
          %td= text_field_tag "trophies[]", stat.trophies
  
  = submit_tag "Save Stats", class: 'btn btn-primary'
