.hero-unit{ style: "height: 150px; padding-top: 20px;" }
  .row
    .span7
      %h1 Welcome to the Clan!
      %p We are dedicated to keepin' it fresh. Clash on!
      %p{ style: "margin-bottom: 0px;" }  
        <strong>Clan Leader:</strong> bjt_16
      %p{ style: "margin-bottom: 0px;" }
        <strong>Leader Emeritus:</strong> Tank, Vonhausen
    .span3
      - if StatGroup.last
        %div{ style: 'margin-top: 20px;' }
          = link_to "Get Latest Stats!", StatGroup.last, class: 'btn btn-large btn-success'
          %p.text-info
            Last updated: #{StatGroup.last.updated_at.to_s}
.row
  .span4
    %h2 
      = image_tag "clan_logo_trans.png"
      Most Trophies
    %p Clan mates with the most number of trophies!
    %ul.no_bullets.rankings
      - max_trophies.each do |stat|
        %li
          %span{ style: 'font-size: 25px;' } #{stat.trophies}
          = "- <strong>#{stat.member.name}</strong> on #{stat.updated_at.to_s(:normal_date)}".html_safe
    %p
      %a.btn.btn-primary{:href => top_rankings_stats_path} Full List »
  .span4
    %h2
      = image_tag "clan_logo_trans.png"
      Highest Levels
    %p Clan mates with the highest levels!
    %ul.no_bullets.rankings
      - max_levels.each do |stat|
        %li
          %span{ style: 'font-size: 25px;' } #{stat.level}
          = "- <strong>#{stat.member.name}</strong> on #{stat.updated_at.to_s(:normal_date)}".html_safe
    %p
      %a.btn.btn-primary{:href => top_rankings_stats_path} Full List »
  .span4
    %h2
      = image_tag "clan_logo_trans.png"
      Top Donations
    %p Clan mates with the most number of donations given!
    %ul.no_bullets.rankings
      - max_donations.each do |stat|
        %li
          %span{ style: 'font-size: 25px;' } #{stat.donated}
          = "- <strong>#{stat.member.name}</strong> on #{stat.updated_at.to_s(:normal_date)}".html_safe
    %p
      %a.btn.btn-primary{:href => top_rankings_stats_path} Full List »

