.hero-unit{ style: "height: 150px; padding-top: 20px;" }
  .row
    .span7
      %h1 Welcome to the Clan!
      %p We are dedicated to keepin' it fresh. Clash on!
      %p{ style: "margin-bottom: 0px;" }  
        <strong>Clan Leader:</strong> bjt_16
      %p{ style: "margin-bottom: 0px;" }
        <strong>Leader Emeritus:</strong> Tank, Vonhausen
    .span3
      - if StatGroup.last
        %div{ style: 'margin-top: 20px;' }
          = link_to "Get Latest Stats!", StatGroup.last, class: 'btn btn-large btn-success'
          %p.text-info
            Last updated: #{StatGroup.last.updated_at.to_s}
.row
  .span4
    %h2 
      = image_tag "clan_logo_trans.png"
      Most Trophies
    %p Top five clan mates with the most number of trophies!
    %ul
      - max_trophies.each do |stat|
        %li= "#{stat.trophies} - #{stat.member.name} (#{stat.updated_at.to_date.to_s})"
    %p
      %a.btn.btn-primary{:href => "#"} Full List »
  .span4
    %h2
      = image_tag "clan_logo_trans.png"
      Highest Levels
    %p Top five clan mates with the highest levels!
    %ul
      - max_levels.each do |stat|
        %li= "#{stat.member.name} (#{stat.level})"
    %p
      %a.btn.btn-primary{:href => "#"} Full List »
  .span4
    %h2
      = image_tag "clan_logo_trans.png"
      Top Donations
    %p Top five clan mates with the most number of donations given!
    %ul
      - max_donations.each do |stat|
        %li= "#{stat.member.name} (#{stat.donated})"
    %p
      %a.btn.btn-primary{:href => "#"} Full List »

