.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#", style: "padding: 10px 15px;"}
        = image_tag "clan_logo_nav.png"
      %a.brand{:href => root_path}
        = Rails.application.config.site_name
      .nav-collapse.collapse#main-menu
        %ul.nav#main-menu-left
          %li{ class: (@navbar_active == "home") ? 'active' : nil }
            %a{:href => root_path} Home
          %li{ class: (@navbar_active == "about") ? 'active' : nil }
            %a{:href => about_path} About
          %li.dropdown{ class: (@navbar_active == "members") ? 'active' : nil }
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Members
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Member List", members_path
              - if admin_user?
                %li= link_to "New Member", new_member_path
          %li.dropdown{ class: (@navbar_active == "stats") ? 'active' : nil }
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Stats
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Stats List", stat_groups_path
              - if admin_user?
                %li= link_to "New Entry", new_stat_group_path
              %li.divider
              %li.nav-header Records
              %li
                = link_to "Top Rankings", top_rankings_stats_path
              %li
                %a{:href => "#"} Graphs
        %ul.nav.pull-right#main-menu-right
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = current_user.email
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Logout", destroy_user_session_path, :method => :delete
          %li
            = link_to "Join the Facebook Group!", "https://www.facebook.com/groups/firefight13/", :rel => "tooltip", :target => "_blank"
          
