.row
  .span4
    &nbsp;
  .span4
    %h3= "Current Members: #{@members.clan_members.count}"
  .span4
    %h3= "Current Elders: #{@members.elders.count}"

%table.table.table-striped.table-hover
  %tbody
    - @members.each do |member|
      %tr
        %td{ style: 'font-size: 18px;' }
          %strong= member.name
        %td
          - if member.active
            %span.label.label-info Clan Member
          - else
            &nbsp;
        %td
          - if member.elder
            %span.label.label-important Elder
          - else
            &nbsp;
        - if admin_user?
          %td= link_to "Edit", edit_member_path(member)
