%p= "Total: #{@members.count}"
%p= "Total Elders: #{@members.elders.count}"
%p= "Total Members: #{@members.clan_members.count}"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Elder?
      %th Member?
      %th Actions
  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %td= member.elder ? "<i class='icon-ok'></i>".html_safe : ''
        %td= member.active ? "<i class='icon-ok'></i>".html_safe : ''
        %td= link_to "Edit", edit_member_path(member)
